@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    MUMBAI<br />
    MAHARASHTRA INDIA<br />
    <abbr title="Phone">P:</abbr>
    +918369103087
</address>

<address>
    <strong>CONTACT:</strong> <a href="hareshmaheshwari2@gmail.com">hareshmaheshwari2@gmail.com</a><br />
   
</address>
