@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <abbr title="Phone"></abbr>   
     +918369103087
    MUMBAI<br />
    MAHARASHTRA INDIA<br />
     
</address>

<address>
    <strong>Email:</strong> <a href="hareshmaheshwari2@gmail.com">hareshmaheshwari2@gmail.com</a><br />
   
</address>
